:root {
 --primary-color: hsl(171, 66%, 44%);
 --primary-color-2: hsl(233, 100%, 69%);
 --neutral-color: hsl(210, 10%, 33%);
 --neutral-color-2: hsl(201, 11%, 66%);
 --neutral-color-3: hsl(0, 0%, 95%);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style-type: none;
}

.header-2-cta {
 background: url(./images/bg-header-mobile.png) no-repeat;
 background-size: cover;
 margin-bottom: 0em;
}

.header-2-cta img {
 margin-top: 6em;
 margin-left: 9em;
 margin-bottom: 4em;
}

.first-text-cta {
 color: var(--neutral-color);
 width: 80%;
 font-size: 1.8em;
 text-align: center;
 margin-left: 1.7em;
}

.first-para-cta {
 text-align: center;
 margin-top: 10px;
 color: var(--neutral-color-2);
}

.download-btn-1 a {
 display: block;
 color: white;
 background: var(--primary-color);
 padding: 1em 2.5em 1em 2.5em;
 border-radius: 3em;
 margin-bottom: 1em;
 text-align: center;
 margin-top: 2em;
 margin-left: 2em;
 margin-right: 2em;
 box-shadow: 1px 1px 4px black;
}

.download-btn-2 a {
 display: block;
 color: white;
 background: var(--primary-color-2);
 padding: 1em 2.5em 1em 2.5em;
 border-radius: 3em;
 margin-bottom: 8em;
 text-align: center;
 margin-left: 2em;
 margin-right: 2em;
 box-shadow: 2px 1px 4px black;
}

.download-btn-1 a:hover,
.download-btn-2 a:hover {
 background: var(--neutral-color-2)
}

.header-cta {
 margin-bottom: 6em;
}

.second-text-cta {
 text-align: center;
 color: var(--neutral-color);
 width: 80%;
 font-size: 1.8em;
 margin-left: 1.8em;
 margin-bottom: 1em;
}

.second-para-cta {
 color: var(--neutral-color-2);
 text-align: center;
 margin-left: 0.8em;
 margin-right: 0.8em;
 margin-bottom: 3em;
}

.first-section-cta {
 margin-bottom: 8em;
}

.first-section-cta img {
 width: 70%;
 margin-left: 3.5em;
 margin-bottom: 3em;
}

.information-heading-cta {
 color: var(--neutral-color);
 text-align: center;
 margin-bottom: 0.3em;
}

.information-para-cta {
 color: var(--neutral-color-2);
 text-align: center;
 margin-bottom: 3em;
 width: 75%;
 margin-left: 3em;
}

.tablet-cta {
 color: var(--neutral-color);
 text-align: center;
 margin-left: 1.5em;
 margin-bottom: 0.8em;
 width: 80%;
 font-size: 1.8em;
}

.phone-cta {
 color: var(--neutral-color-2);
 text-align: center;
 width: 80%;
 margin-left: 2.7em;
 margin-bottom: 2em;
}

.third-text-cta img {
 width: 90%;
 margin-left: 1.8em;
 margin-bottom: 6.5em;
}

.charge-cta {
 text-align: center;
 color: var(--neutral-color);
 width: 80%;
 font-size: 1.8em;
 margin-left: 1.8em;
 margin-bottom: 0.5em;

}

.charge-2-cta {
 text-align: center;
 color: var(--neutral-color-2);
 width: 85%;
 margin-left: 2em;
 margin-bottom: 2.8em;
}

.fourth-text-cta img {
 margin-left: 10em;
 margin-bottom: 1.5em;
}

.blacklist-cta {
 text-align: center;
 color: var(--neutral-color);
 margin-bottom: 0em;
}

.blacklist-2-cta-1,
.blacklist-2-cta-2,
.blacklist-2-cta-3 {
 color: var(--neutral-color-2);
 text-align: center;
 margin-bottom: 4em;
 width: 80%;
 margin-left: 2.6em;
}

.sponsor-cta img {
 padding-top: 2em;
 margin-top: 7em;
 display: block;
 margin-left: 8em;
 margin-bottom: -3em;
 width: 28%;
}

.logo-vector {
 margin-bottom: 8em;
}

.advert-1-cta {
 color: var(--neutral-color);
 text-align: center;
 width: 80%;
 margin-left: 1.2em;
 font-size: 1.8em;
 margin-bottom: 0.5em;
}

.advert-2-cta {
 color: var(--neutral-color-2);
 text-align: center;
 width: 85%;
 margin-left: 2em;
}

i {
 margin-left: 0.5em;
 color: var(--neutral-color);
}

i:hover {
 color: var(--primary-color);
}

.footer-section img {
 width: 15%;
 margin-left: 10em;
 margin-bottom: 1em;
 margin-top: 2em;
}

ul li {
 display: block;
 padding: 1em;
 text-align: center;
}

ul li a {
 color: var(--neutral-color-2);
}

.icons {
 text-align: center;
}

.icons img {
 margin-top: 0.5em;
 padding: 1em;
 margin-bottom: -.5em;
}


footer {
 background: var(--neutral-color-3);
 height: 90vh;
}

@media screen and (min-width: 765px) {
 .header-2-cta img {
  position: relative;
  left: 21em;
  top: -2em;
  margin-bottom: -0.8em;
 }

 .first-text-cta {
  text-align: center;
  margin-left: 4em;
 }

 .first-para-cta {
  text-align: center;
  width: 55%;
  margin-left: 16em;
 }

 .download-btn-1 {
  padding: 0.1em 0.7em 0.1em 0.7em;
  margin-bottom: 1em;
  text-align: center;
  margin-top: -1em;
  margin-left: 24em;
  margin-right: 24em;
  position: relative;
  left: -8em;
 }

 .download-btn-2 a {
  margin-bottom: 1em;
  text-align: center;
  margin-top: -0.8em;
  margin-left: 26em;
  margin-right: 27em;
  position: relative;
  left: 11em;
  top: -4.5em;
 }

 .download-btn-2 {
  margin-bottom: -5em;
 }

 .second-text-cta {
  margin-left: 5em;
  font-size: 2rem;
 }

 .second-para-cta {
  width: 50%;
  margin-left: 19em;
 }

 .first-section-cta img {
  position: relative;
  width: 70%;
  left: -10em;
 }

 .information {
  float: right;
 }

 .information-heading-cta {
  position: relative;
  left: -3em;
 }

 .information-para-cta {
  width: 100%;
  margin-right: -27em;
  position: relative;
  left: -7em;
  margin-bottom: 7.5em;
 }

 .tablet-cta {
  margin-left: 4.6em;
  font-size: 2rem;
 }

 .phone-cta {
  width: 50%;
  margin-left: 18em;
 }

 .third-text-cta img {
  width: 80%;
  margin-left: 8em;
 }

 .charge-cta {
  font-size: 2rem;
  margin-left: 5em;
 }

 .charge-2-cta {
  margin-left: 7em;
 }


 .stress {
  display: inline;
  width: 20%;
  margin-bottom: -8em;
 }

 .sponsor-cta-2 {
  margin-left: -6em;
 }

 .sponsor-cta img {
  width: 100px;
  display: inline;
  position: relative;
 }

 .logo-vector {
  margin-top: -8em;
  margin-left: 50em;
 }

 .advert-1-cta {
  margin-left: 4em;
 }

 .advert-2-cta {
  margin-left: 15em;
  width: 60%;
  margin-bottom: 2em;
 }

 .advert-cta {
  margin-bottom: 8em;
 }

 footer {
  bottom: 0;
  height: 20vh;
 }

 .footer-section img {
  width: 5%;
 }


 .footer-section ul li {
  display: inline;
  margin: 2em;
  margin-top: 8em;
 }

 .footer-section ul li a:hover {
  color: var(--primary-color);
 }

 .function-cta-4,
 .function-cta-5 {
  margin-top: 1em;
 }

 .footer-section ul {
  margin-top: -3.8em;
  margin-left: 17em;
  width: 50%;
  justify-content: space-between;
 }

 .icons {
  float: right;
  margin-top: -2em;
 }

 .icons a:hover {
  color: var(--primary-color);
 }

 .icons {
  font-size: 1.7em;
  margin-right: 2em;
  margin-top: -0.68em
 }

 .stress img,
 .one img,
 .two img {
  justify-content: center;
  margin-right: -15em;
 }

 .fourth-text-cta{
  display: none;
 }
}